<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="hhs.game.funny">

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 读取您的SD卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	
	<!--写入/删除您的SD卡中的内容-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:icon="@drawable/ic_gamepad_variant_outline"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">

        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

        <service android:name="hhs.game.funny.games.Level1"/>

    </application>

</manifest>
